<template>
  <v-card>
    <v-card-title class="headline secondary">
      <span>DASHBOARD</span>
    </v-card-title>
    <v-card-text>

      <!--
      <v-container>
        <v-layout row wrap align-baseline>
          <v-flex xs12 sm4 md2>
            <v-flex>Currently open : {{ opened }}</v-flex>
          </v-flex>
          <v-flex xs12 sm4 md2>
            <v-flex>Opened this month : {{ openedThisMonth }}</v-flex>
          </v-flex>
          <v-flex xs12 sm4 md2>
            <v-flex>Opened this year : {{ openedThisMonth }}</v-flex>
          </v-flex>
          <v-flex xs12 sm4 md2>
            <v-flex>Completed this month : {{ completedThisMonth }}</v-flex>
          </v-flex>
          <v-flex xs12 sm4 md2>
            <v-flex>Completed this year : {{ completedThisYear }}</v-flex>
          </v-flex>
          <v-flex xs12 sm4 md2>
            On-time Rate :
            <v-progress-circular :rotate=" 360" :size="40" :width="4" :value="onTimeRate" :color="onTimeRate > 75 ? 'success' : onTimeRate > 50 ? 'warning' : 'error'">
              {{ onTimeRate }}
            </v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
      -->

      <v-container>
        <v-layout
          row
          wrap
        >
          <v-flex xs12>
            <v-flex xs12>
              <v-select
                clerable
                chips
                deletable-chips
                multiple
                label="Years"
                :items="years"
                v-model="selectedYears"
              ></v-select>
            </v-flex>
          </v-flex>
          <v-flex
            v-if="false"
            xs12
            sm6
          >
            <v-container>
              <v-data-table
                hide-actions
                :headers="[{text:'Defect', value: 'defect'},{text:'Quantity', value: 'quantity'},{text:'Repaired', value: 'repaired'},{text:'Unit', value: 'unit'}]"
                :items="worksByDefect"
                class="elevation-1"
              >
                <template
                  slot="items"
                  slot-scope="props"
                >
                  <td>{{ props.item.defect }}</td>
                  <td>{{ props.item.quantity }}</td>
                  <td>{{ props.item.repaired }}</td>
                  <td>{{ props.item.unit }}</td>
                </template>
              </v-data-table>
            </v-container>
          </v-flex>
          <v-flex
            xs12
            sm6
          >
            <v-container>
              <v-data-table
                hide-actions
                :headers="[{text:'Work Type', value: 'workType'},{text:'Count', value: 'count'},{text:'Cost', value: 'cost'}]"
                :items="worksByType"
                class="elevation-1"
              >
                <template
                  slot="items"
                  slot-scope="props"
                >
                  <td>{{ props.item.workType }}</td>
                  <td>{{ props.item.count }}</td>
                  <td>{{ props.item.cost }}</td>
                </template>
              </v-data-table>
            </v-container>
          </v-flex>
          <v-flex
            xs12
            sm6
          >
            <v-container>
              <v-data-table
                hide-actions
                :headers="[{text:'Material', value: 'material'},{text:'Quantity', value: 'quantity'},{text:'Cost', value: 'cost'}]"
                :items="materialConsumption"
                class="elevation-1"
              >
                <template
                  slot="items"
                  slot-scope="props"
                >
                  <td>{{ props.item.material }}</td>
                  <td>{{ props.item.quantity }}</td>
                  <td>{{ props.item.cost }}</td>
                </template>
              </v-data-table>
            </v-container>
          </v-flex>
        </v-layout>
      </v-container>

      <v-card-title>
        TOTAL COST : {{ totalCost }}€
      </v-card-title>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["works"],
  data() {
    return {
      years: [2013, 2014, 2015, 2016, 2017, 2018],
      selectedYears: [2017]
    };
  },
  computed: {
    opened: function() {
      const now = new Date();
      return this.$props.works.filter(w => w.status == "Open").length;
    },
    openedThisMonth: function() {
      const now = new Date();
      return this.$props.works.filter(
        w =>
          Number.parseInt(w.date.substring(0, 4)) === now.getFullYear() &&
          Number.parseInt(w.date.substring(5, 2)) + 1 === now.getMonth()
      ).length;
    },
    openedThisYear: function() {
      const now = new Date();
      return this.$props.works.filter(
        w => Number.parseInt(w.date.substring(0, 4)) === now.getFullYear()
      ).length;
    },
    completedThisMonth: function() {
      const now = new Date();
      return this.$props.works.filter(
        w =>
          w.status == "Done" &&
          Number.parseInt(w.completionDate.substring(0, 4)) ===
            now.getFullYear() &&
          Number.parseInt(w.completionDate.substring(5, 2)) + 1 ===
            now.getMonth()
      ).length;
    },
    completedThisYear: function() {
      const now = new Date();
      return this.$props.works.filter(
        w =>
          w.status == "Done" &&
          Number.parseInt(w.completionDate.substring(0, 4)) ===
            now.getFullYear()
      ).length;
    },
    onTimeRate: function() {
      let late = 0,
        ok = 0;
      const wos = this.$props.works.filter(w => w.status === "Done");
      wos.forEach(wo => {
        if (wo.dueDate < wo.completionDate) {
          late++;
        } else {
          ok++;
        }
      });

      return ok + late > 0 ? Math.ceil((ok / (ok + late)) * 100) : 0;
    },
    totalCost: function() {
      let result = 0;
      this.$props.works
        .filter(
          w =>
            this.$data.selectedYears.indexOf(
              Number.parseInt(w.date.substring(0, 4))
            ) > -1
        )
        .forEach(w => {
          if (w) result += w.cost;
        });
      return result;
    },
    worksByDefect: function() {
      let result = [];
      const works = this.$props.works.filter(
        w =>
          this.$data.selectedYears.indexOf(
            Number.parseInt(w.date.substring(0, 4))
          ) > -1
      );
      works.forEach(w => {
        let currentDefect = result.find(r => r.defect === w.defectType.name);
        if (!currentDefect) {
          result.push({
            defect: w.defectType.name,
            quantity: w.quantity,
            repaired: w.status === "Done" ? w.quantity : 0,
            unit: w.defectType.unit
          });
        } else {
          currentDefect.quantity += w.quantity;
          currentDefect.repaired += w.status === "Done" ? w.quantity : 0;
        }
      });
      return result;
    },
    worksByType: function() {
      let result = [];
      const works = this.$props.works.filter(
        w =>
          this.$data.selectedYears.indexOf(
            Number.parseInt(w.date.substring(0, 4))
          ) > -1
      );
      works.forEach(w => {
        let currentWork = result.find(r => r.workType === w.type);
        if (!currentWork) {
          result.push({
            workType: w.type,
            count: 1,
            cost: w.cost
          });
        } else {
          currentWork.count++;
          currentWork.cost += w.cost;
        }
      });
      return result;
    },
    materialConsumption: function() {
      let result = [];
      const works = this.$props.works.filter(
        w =>
          this.$data.selectedYears.indexOf(
            Number.parseInt(w.date.substring(0, 4))
          ) > -1
      );
      works.forEach(w => {
        let currentWork = result.find(r => r.material === w.material);
        if (!currentWork) {
          result.push({
            material: w.material,
            quantity: w.quantity,
            cost: w.cost
          });
        } else {
          currentWork.quantity += w.quantity;
          currentWork.cost += w.cost;
        }
      });
      return result;
    }
  }
};
</script>

<style>
</style>
