<template>
  <v-card>
    <v-card-title class="secondary">Create Work Order</v-card-title>
    <v-card-text>
      <v-container fluid justify-center>
        <v-list>
          <v-list-group>
            <v-list-tile slot="activator" color="primary">
              <v-list-tile-title>DEFECTS ({{wo.defects.length}})</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="defect in wo.defects" :key="defect.id">
              <v-list-tile-title>
                <p>
                  <span class="body-1">{{ defect.tileName }} - {{ defect.defectType.name }}, </span>
                  <span class="caption"> {{ defect.quantity }}{{ defect.defectType.unit }}</span>
                </p>
              </v-list-tile-title>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-container>

      <v-container>
        <v-layout column justify-start>
          <v-flex xs12>
            <v-text-field v-model=title label="Work Order name" clearable></v-text-field>

            <v-text-field v-model=dueDate hint='YYYY-MM-DD' label="Work Date" clearable></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>

    <v-layout justify-end pr-5>
      <v-card-actions>
        <v-btn flat color="secondary" @click="cancel">Cancel</v-btn>
        <v-btn flat color="success" @click="validate">Validate</v-btn>
      </v-card-actions>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  props: ["wo"],
  data() {
    return {
      dueDate: "2018-12-15",
      title: "Work order"
    };
  },
  methods: {
    cancel: function() {
      this.$emit("woCanceled");
    },
    validate: function() {
      const data = this.$data;
      const props = this.$props;
      props.wo.name = data.title;
      props.wo.defects.forEach(d => {
        d.dueDate = new Date(data.dueDate);
        d.status = "Planned";
      });
      this.$emit("woCreated", props.wo);
    }
  }
};
</script>

<style>
</style>
