<template>
  <v-tabs
    v-model="active"
    color="primary"
    dark
    slider-color="secondary"
  >
    <v-tab :key=0>
      Condition
    </v-tab>
    <v-tab-item :key=0>
      <v-card
        flat
        style="height: 100%; min-height: 500px"
      >
        <v-card-title primary-title>
          <h3>{{ tile.properties.UNIDADEAMO }}</h3>

        </v-card-title>

        <v-card-text>
          <div>
            <v-select
              :items="['PCI', 'PRI']"
              v-model="indicator"
            ></v-select>
          </div>
          <v-timeline>
            <v-timeline-item
              v-for="i in tile.properties.pci"
              :key="i.date"
              fill-dot
              small
              :color="i.value < 30 ? 'red' : i.value < 60 ? 'orange' : i.value < 90 ? '#72e736' : 'green'"
            >
              <v-card
                :color="i.value < 30 ? 'red' : i.value < 60 ? 'orange' : i.value < 90 ? '#72e736' : 'green'"
                dark
              >
                <v-card-title :style="{ height: '25px' }">{{i.date }}</v-card-title>
                <v-card-text
                  class="white"
                  :color="i.value < 30 ? 'red' : i.value < 60 ? 'orange' : i.value < 90 ? '#72e736' : 'green'"
                  :style="{ 
                    height: '25px', 
                    paddingTop: '0',
                    color: 
                      i.value
                      <
                      30
                      ? 'red'
                      :
                      i.value
                      <
                      60
                      ? 'orange'
                      :
                      i.value
                      <
                      90
                      ? '#72e736'
                      : 'green' 
                  }"
                >
                  {{ i.value}}
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>
      </v-card>
    </v-tab-item>

    <v-tab :key=1>
      Works
    </v-tab>

    <v-tab-item :key=1>

      <v-card
        flat
        style="height: 100%; min-height: 500px"
      >
        <v-card-title primary-title>
          <h3>{{ tile.properties.UNIDADEAMO }}</h3>

        </v-card-title>

        <v-card-text>
          <v-timeline v-if="tile.properties.works.length > 0">
            <v-timeline-item
              v-for="i in tile.properties.works"
              :key="i.date"
              fill-dot
              small
              :style="{
                  opacity: i.forecast ? 0.6 : 1
                }"
            >
              <v-card
                dark
                color="primary"
                :style="{
                  opacity: i.forecast ? 0.6 : 1
                }"
              >
                <v-card-title :style="{ height: '25px' }">{{ i.date }}</v-card-title>
                <v-card-text class="white text--primary">
                  <h3 v-if="i.forecast">FORECAST</h3>
                  <p>{{ i.type}}</p>
                  <p v-if="!i.forecast">Cost : {{ i.cost}}€</p>
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>

        <v-flex
          elevation-1
          secondary
          style="position: absolute; bottom: 0; right: 0;width: 50%; height: 40px; font-weight: 700; text-align: center;"
          pa-2
        >
          TOTAL COST : {{totalCost }}€

        </v-flex>

      </v-card>
    </v-tab-item>

    <v-tab :key=2>
      Defects
    </v-tab>

    <v-tab-item :key=2>

      <v-card
        flat
        style="height: 100%; min-height: 500px"
      >
        <v-card-title primary-title>
          <h3>{{ tile.properties.UNIDADEAMO }}</h3>

        </v-card-title>

        <v-card-text>
          <v-list two-line>
            <v-list-tile
              primary
              v-for="defect in tile.properties.defects"
              :key="defect.id"
            >
              <v-list-tile-title>
                {{ defect.defectType.name }}
              </v-list-tile-title>

              <v-list-tile-sub-title class="caption">
                Extent : {{ defect.quantity}}{{defect.defectType.unit}}
                <v-spacer></v-spacer>
                <span>{{defect.date}}</span>
              </v-list-tile-sub-title>
              <v-tooltip left>
                <v-icon slot="activator">
                  info
                </v-icon>
                <p>Comment : {{defect.comment }}</p>
                <p>
                  Status : {{defect.status }}</p>
              </v-tooltip>
            </v-list-tile>
            <v-divider></v-divider>
          </v-list>

        </v-card-text>

      </v-card>
    </v-tab-item>

    <v-spacer></v-spacer>
    <v-btn
      icon
      @click="$emit('close')"
    >
      <v-icon>close</v-icon>
    </v-btn>
  </v-tabs>
</template>

<script>
export default {
  props: ["tile"],
  data() {
    return {
      active: 0,
      indicator: "PCI"
    };
  },
  computed: {
    pci: function() {
      return this.$props.tile.properties.pci[
        this.$props.tile.properties.pci.length - 1
      ].value;
    },
    totalCost: function() {
      const init = 0;
      return this.$props.tile.properties.works.reduce(
        (total, w) => total + w.cost,
        init
      );
    }
  }
};
</script>

<style>
</style>
