<template>
  <v-card>
    <v-card-title class="secondary">{{ tile.properties.UNIDADEAMO }}</v-card-title>
    <v-card-text>
      <v-form>
        <v-container fluid justify-center>
          <v-layout row wrap justify-space-between>
            <v-flex xs12 sm6>
              <v-select :items="defects" item-text="name" label="Defect" return-object v-model="selectedDefect"></v-select>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field ref="quantity" v-model="quantity" label="Quantity" :suffix="selectedUnit" placeholder=0></v-text-field>
            </v-flex>
          </v-layout>

          <v-flex xs12>
            <v-textarea v-model="comment" label="Comment"></v-textarea>
          </v-flex>

          <v-flex xs1>
            <v-btn fab color="primary">
              <v-icon large>add_a_photo</v-icon>
            </v-btn>
          </v-flex>
        </v-container>

      </v-form>
    </v-card-text>

    <v-layout justify-end pr-5>
      <v-card-actions>
        <v-btn flat color="secondary" @click="cancel">Cancel</v-btn>
        <v-btn flat color="success" @click="validate">Validate</v-btn>
      </v-card-actions>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  props: ["tile", "defects", "latlng", "id"],
  data() {
    return {
      quantity: null,
      comment: "",
      selectedDefect: ""
    };
  },
  methods: {
    cancel: function() {
      this.$emit("reportCanceled");
    },
    validate: function() {
      const data = this.$data;
      const props = this.$props;
      const item = {
        id: props.id,
        defectType: data.selectedDefect,
        tileName: props.tile.properties.UNIDADEAMO,
        quantity: data.quantity,
        comment: data.comment,
        coords: props.latlng,
        date: new Date(),
        status: "Open"
      };
      this.$emit("defectCreated", item);
    }
  },
  computed: {
    selectedUnit: function() {
      return this.$data.selectedDefect.unit
        ? this.$data.selectedDefect.unit
        : "";
    }
  }
};
</script>

<style>
</style>
