<template>
  <v-card>
    <v-card-title class="secondary headline"><span> Work Orders</span></v-card-title>

    <v-card-text>
      <v-list>
        <v-list-group
          color="secondary"
          v-for="wo in wos"
          :key="wo.id"
          v-if="wo.defects.filter(d => d.status==='Planned').length > 0"
        >
          <v-toolbar slot="activator">
            <v-toolbar-title>{{wo.name}}</v-toolbar-title>
          </v-toolbar>

          <v-list-tile
            v-for="(defect, index) in wo.defects.filter(d => d.status==='Planned')"
            :key="defect.id"
          >

            <v-list-tile-content>
              <v-list-tile-title>{{ defect.tileName }} - {{ defect.defectType.name }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ defect.quantity }}{{ defect.defectType.unit }}</v-list-tile-sub-title>
              <v-list-tile-sub-title>{{ defect.comment }}</v-list-tile-sub-title>

              <v-divider
                v-if="index + 1 < wo.defects.length"
                :key="`divider-${index}`"
              ></v-divider>
            </v-list-tile-content>

            <v-dialog
              v-model="repair"
              max-width="500"
            >
              <v-list-tile-action slot="activator">
                <v-tooltip left>
                  <v-icon
                    color="primary"
                    slot="activator"
                  >build</v-icon>
                  <span>Repair</span>
                </v-tooltip>
              </v-list-tile-action>

              <v-card>
                <v-card-text>
                  <v-container>
                    <v-layout
                      column
                      justify-start
                    >
                      <v-flex xs12>
                        <v-select
                          v-model="workType"
                          :items="workTypes"
                          return-object
                          item-text="name"
                          label="Work type"
                        ></v-select>
                        <v-text-field
                          label="Material"
                          v-model="material"
                          disabled
                        ></v-text-field>
                        <v-text-field
                          label="Quantity"
                          v-model="workQuantity"
                          :suffix="workType ? workType.unit : ''"
                        ></v-text-field>
                        <v-text-field
                          label="Cost"
                          v-model="cost"
                          disabled
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-layout
                  justify-end
                  pr-5
                >
                  <v-card-actions>
                    <v-btn
                      flat
                      color="secondary"
                      @click="clear"
                    >Cancel</v-btn>
                    <v-btn
                      flat
                      color="success"
                      @click="registerWork(defect)"
                    >Validate</v-btn>
                  </v-card-actions>
                </v-layout>
              </v-card>
            </v-dialog>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["wos"],
  data() {
    return {
      repair: false,
      workQuantity: null,
      workType: null,
      workTypes: [
        {
          name: "Overlay",
          material: "SMA",
          unit: "m²",
          cost: 120
        },
        {
          name: "Milling",
          material: "BBA",
          unit: "m3",
          cost: 1200
        },
        {
          name: "Tack coat",
          material: "Cheap seal",
          unit: "m²",
          cost: 10
        },
        {
          name: "Cracks delaying system - Geotextile",
          material: "Geotextile",
          unit: "m²",
          cost: 80
        },
        {
          name: "Cracks delaying system - SAMI",
          material: "SAMI",
          unit: "m²",
          cost: 60
        },
        {
          name: "Joint replacement",
          material: "PMB",
          unit: "m3",
          cost: 260
        }
      ]
    };
  },
  methods: {
    clear: function() {
      this.$data.repair = false;
      this.$data.workQuantity = null;
      this.$data.workType = null;
    },
    registerWork: function(item) {
      item.status = "Done";
      item.completionDate = new Date();
      item.work = {
        type: this.$data.workType.name,
        material: this.$data.workType.material,
        quantity: this.$data.workQuantity,
        cost: this.$data.workType.cost * this.$data.workQuantity
      };
      this.$emit("workDone", item);
      this.clear();
    }
  },
  computed: {
    material: function() {
      return this.$data.workType && this.$data.workType.material
        ? this.$data.workType.material
        : "";
    },
    cost: function() {
      return this.$data.workType && this.$data.workQuantity
        ? this.$data.workType.cost * this.$data.workQuantity
        : null;
    }
  }
};
</script>

<style>
</style>
