<template>
  <v-app>
    <!--
    <v-toolbar
      app
      color="primary"
    >
      <v-toolbar-title class="headline text-uppercase white-font">
        <span>APMS</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat>
        <v-icon x-large>person</v-icon>
      </v-btn>
    </v-toolbar>
    -->

    <v-content>
      <l-map
        v-if="display=='home'"
        :style="{
          display: 'inline-block',
          position: 'fixed',
          top: 0,
          bottom: 100,
          left: 0,
          verticalAlign: 'top',
          width: showPanel ? '75%': '100%', 
          display: 'inline-block'
        }"
        :zoom="16"
        :center="mapCenter"
      >

        <l-control v-if="false">
          <v-tooltip left>
            <v-btn
              light
              @click="showHistory = ! showHistory"
              slot="activator"
            >
              <v-icon :color="showHistory==true ? 'info' : 'secondary'">history</v-icon>
            </v-btn>
            <div v-if="showHistory">Hide history</div>
            <div v-if="!showHistory">Show history</div>
          </v-tooltip>
        </l-control>

        <l-control>
          <v-tooltip left>
            <v-btn
              light
              @click="generateWo"
              slot="activator"
              v-show="selectedDefects.length>0"
            >
              <v-icon color="info">playlist_add</v-icon>
            </v-btn>
            <div>Generate work order</div>
          </v-tooltip>
        </l-control>
        <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
        <l-geo-json
          :geojson="tiles"
          :options="options"
          @click="displayTileHistory"
        ></l-geo-json>

        <!-- DEFECTS -->
        <l-polygon
          v-for="defect in defects"
          @click="toggleSelect(defect)"
          :visible="showHistory ? true : defect.status==='Open' || defect.status==='Planned'"
          :key="defect.id"
          :lat-lngs="defect.coords"
          :color="defect.status == 'Open' ? selectedDefects.indexOf(defect.id) === -1 ? 'red' : 'white' : defect.status === 'Planned' ? 'orange' : 'green'"
          :fill-color="defect.status == 'Open' ? selectedDefects.indexOf(defect.id) === -1 ? 'red' : 'white' : defect.status === 'Planned' ? 'orange' : 'green'"
          :fill-opacity="0.65"
        >
          <l-tooltip>
            <h3>{{ defect.defectType.name}}</h3>
            <ul>
              <li>{{ defect.quantity }}{{ defect.defectType.unit }}</li>
              <li v-if="defect.comment.length > 0">{{ defect.comment }}</li>
              <li>Status : {{ defect.status }}</li>
              <li>Created : {{ defect.date }}</li>
            </ul>
          </l-tooltip>
        </l-polygon>
      </l-map>

      <v-flex
        style="display: inline-block; position: fixed; top: 0; bottom: 100; right: 0; vertical-align: top; width: 25%; height: 100%; overflow: auto"
        v-if="showPanel && display === 'home'"
      >
        <history-panel
          :tile="currentTile"
          @close="showPanel=false"
        ></history-panel>
      </v-flex>

      <v-container
        align-content-start
        v-if="display=='chart'"
      >
        <chart :works="wos"></chart>
      </v-container>

      <v-container>
        <report
          :id="currentDefectId"
          :tile="currentTile"
          :defects="defectTypes"
          :latlng="clickLatlng"
          v-if="display=='report'"
          @reportCanceled="display='home'"
          @defectCreated="addDefect"
        ></report>
      </v-container>

      <v-container v-if="display==='createWo'">
        <v-layout justify-center>
          <v-flex
            sm12
            md6
          >
            <create-wo
              :wo="wos[wos.length-1]"
              @woCanceled="onWoCanceled"
              @woCreated="onWoCreated"
            ></create-wo>
          </v-flex>
        </v-layout>
      </v-container>

      <v-container v-if="display=='list'">
        <wo-list
          :wos="wos"
          @workDone="onWorkDone"
        ></wo-list>
      </v-container>

    </v-content>

    <div class="bottom secondary">
      <v-layout
        row
        justify-center
      >
        <v-flex
          xs8
          sm6
          md4
        >
          <v-layout
            row
            justify-space-around
          >
            <v-btn
              flat
              icon
              @click="display='home'"
              :disabled="display=='home'"
            >
              <v-icon>home</v-icon>
            </v-btn>
            <v-btn
              v-if="false"
              flat
              icon
              @click="display='list'"
              :disabled="display=='list'"
            >
              <v-icon>build</v-icon>
            </v-btn>
            <v-btn
              flat
              icon
              @click="display='chart'"
              :disabled="display=='chart'"
            >
              <v-icon>insert_chart_outlined</v-icon>
            </v-btn>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>
  </v-app>
</template>

<script>
import Report from "./components/Report";
import WoList from "./components/WOList";
import CreateWo from "./components/CreateWO";
import Chart from "./components/Chart";
import HistoryPanel from "./components/HistoryPanel";

const workTypes = [
  {
    name: "Overlay",
    material: "SMA",
    unit: "m²",
    cost: 120
  },
  {
    name: "Milling",
    material: "BBA",
    unit: "m3",
    cost: 1200
  },
  {
    name: "Tack coat",
    material: "Cheap seal",
    unit: "m²",
    cost: 10
  },
  {
    name: "Cracks delaying system - Geotextile",
    material: "Geotextile",
    unit: "m²",
    cost: 80
  },
  {
    name: "Cracks delaying system - SAMI",
    material: "SAMI",
    unit: "m²",
    cost: 60
  },
  {
    name: "Joint replacement",
    material: "PMB",
    unit: "m3",
    cost: 260
  }
];

const defectTypes = [
  { name: "Joint Craking", unit: "m²" },
  { name: "Fatigue cracking", unit: "m²" },
  { name: "Swelling", unit: "m²" },
  { name: "Slippage cracking", unit: "m²" },
  { name: "Shoving", unit: "mm" },
  { name: "Rutting", unit: "m²" },
  { name: "Alligator cracking", unit: "m²" },
  { name: "Bleeding", unit: "m²" },
  { name: "Block cracking", unit: "m²" },
  { name: "Depression", unit: "m²" },
  { name: "Jet Blast", unit: "m" },
  { name: "Joint reflection", unit: "m" },
  { name: "Longitunial cracking", unit: "m²" },
  { name: "Flash", unit: "m²" },
  { name: "Settlement", unit: "m²" },
  { name: "W deformation", unit: "m²" },
  { name: "Burning", unit: "m²" },
  { name: "Porous Asphalt Concrete", unit: "m²" },
  { name: "Bleeding of water", unit: "m²" },
  { name: "Pumping of fines", unit: "m²" },
  { name: "Rubber particles", unit: "m²" },
  { name: "Imprint", unit: "m" },
  { name: "Transversal cracking", unit: "m²" },
  { name: "Oil spillage", unit: "m²" },
  { name: "Patching", unit: "m²" },
  { name: "Polished aggregate", unit: "m²" },
  { name: "Weather ravelling", unit: "m²" },
  { name: "Blow up", unit: "m²" },
  { name: "Corner break", unit: "m" },
  { name: "Linear cracking", unit: "m" },
  { name: "Joint seal damage", unit: "m²" },
  { name: "Small patch", unit: "m²" },
  { name: "Large patch", unit: "m²" },
  { name: "Popouts", unit: "m²" },
  { name: "Pumping", unit: "m²" },
  { name: "Faulting", unit: "m²" },
  { name: "Shattering slab", unit: "m²" },
  { name: "Shrinkage craking", unit: "m" },
  { name: "Joint spalling", unit: "m" },
  { name: "Durability cracking", unit: "m²" }
];

import L from "leaflet";
import {
  LMap,
  LTileLayer,
  LGeoJson,
  LTooltip,
  LPolygon,
  LControl
} from "vue2-leaflet";

import { default as data } from "./assets/horta.js";
let works = [];
let defects = [];
let currentDefectId = 0;

const getRandomDate = function(year) {
  const y = year.toString();
  const month = Math.floor(Math.random() * 11) + 1;
  const m = month < 10 ? "0" + month.toString() : month.toString();
  const day = Math.floor(Math.random() * 28) + 1;
  const d = day < 10 ? "0" + day.toString() : day.toString();
  return y + "-" + m + "-" + d;
};

// Create mockup history
for (let i = 2014; i < 2019; ++i) {
  data.features.forEach(f => {
    const oldPci = f.properties.pci[f.properties.pci.length - 1].value;
    const runway = f.properties.IDZONA === 503;
    const zoneFactor = runway ? 8 : 2;
    const newPci = Number.parseFloat(
      oldPci - Math.random() * zoneFactor
    ).toFixed(2);

    f.properties.pci.push({
      forecast: false,
      date: i.toString() + "-01-01",
      value: newPci
    });

    if (runway) {
      if (newPci < 60) {
        const randomWork =
          workTypes[Math.floor(Math.random() * workTypes.length)];
        const q = Math.floor(Math.random() * 10);

        const workDate = getRandomDate(i);

        const newWork = {
          type: randomWork.name,
          material: randomWork.material,
          quantity: q,
          unit: randomWork.unit,
          cost: randomWork.cost * q,
          date: workDate,
          completionDate: workDate,
          forecast: false
        };

        f.properties.works.push(newWork);
        works.push(newWork);

        f.properties.pci.push({
          forecast: false,
          date: workDate,
          value: 100
        });
      }
    } else {
      if (newPci < 10) {
        const randomWork =
          workTypes[Math.floor(Math.random() * workTypes.length)];
        const q = Math.floor(Math.random() * 10);

        const workDate = getRandomDate(i);

        const newWork = {
          type: randomWork.name,
          material: randomWork.material,
          quantity: q,
          unit: randomWork.unit,
          cost: randomWork.cost * q,
          date: workDate,
          completionDate: null,
          forecast: false
        };

        f.properties.works.push(newWork);
        works.push(newWork);

        f.properties.pci.push({
          forecast: false,
          date: workDate,
          value: 100
        });
      }
    }
  });
}

// Defects
data.features.forEach(f => {
  if (Math.random() < 0.05) {
    const year = 2018;
    const date = getRandomDate(year);

    const randomDefect =
      defectTypes[Math.floor(Math.random() * defectTypes.length)];
    const newDefect = {
      id: currentDefectId,
      defectType: randomDefect,
      tileName: f.properties.UNIDADEAMO,
      quantity: Math.floor(Math.random() * 10),
      comment:
        Math.random()
          .toString(36)
          .substring(2, 15) +
        Math.random()
          .toString(36)
          .substring(2, 15),
      coords: f.geometry.coordinates,
      date: date,
      status: "Open"
    };

    f.properties.defects.push(newDefect);
    defects.push(newDefect);

    const oldPci = f.properties.pci[f.properties.pci.length - 1].value;
    f.properties.pci.push({
      forecast: false,
      date: date,
      value: (oldPci - Number.parseFloat(Math.random() * 25)).toFixed(2)
    });

    currentDefectId++;
  }
});

// Works forecast
for (let j = 2019; j < 2024; ++j) {
  data.features.forEach(f => {
    if (Math.random() < 0.02) {
      const randomWork =
        workTypes[Math.floor(Math.random() * workTypes.length)];
      const newForecast = {
        type: randomWork.name,
        material: randomWork.material,
        quantity: 0,
        cost: 0,
        date: j.toString() + "-01-01",
        forecast: true
      };
      f.properties.works.push(newForecast);
      works.push(newForecast);
    }
  });
}

// Defects

console.log("e");
data.features.forEach(f => {
  if (Math.random() < 0.05) {
    const year = Math.floor(Math.random() * 5) + 2013;
    const date = getRandomDate(year);

    const randomDefect =
      defectTypes[Math.floor(Math.random() * defectTypes.length)];
    const newDefect = {
      id: currentDefectId,
      defectType: randomDefect,
      tileName: f.properties.UNIDADEAMO,
      quantity: Math.floor(Math.random() * 10),
      comment:
        Math.random()
          .toString(36)
          .substring(2, 15) +
        Math.random()
          .toString(36)
          .substring(2, 15),
      coords: f.geometry.coordinates,
      date: date,
      status: "Open"
    };

    f.properties.defects.push(newDefect);
    defects.push(newDefect);

    currentDefectId++;
  }
});

delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png")
});

export default {
  name: "App",
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LTooltip,
    LPolygon,
    LControl,
    Report,
    WoList,
    CreateWo,
    Chart,
    HistoryPanel
  },
  data() {
    return {
      year: 2018,
      currentDefectId: currentDefectId,
      currentWoId: 0,
      display: "home",
      showPanel: false,
      showHistory: false,
      mapCenter: L.latLng(38.519905, -28.715191),
      tiles: data,
      currentTile: null,
      clickLatlng: null,
      defects: defects,
      selectedDefects: [],
      selectedTiles: [],
      layers: [],
      wos: works,
      defectTypes: defectTypes
    };
  },
  methods: {
    toggleSelect: function(defect) {
      if (defect.status === "Open") {
        const index = this.$data.selectedDefects.indexOf(defect.id);
        if (index === -1) {
          this.$data.selectedDefects.push(defect.id);
        } else {
          this.$data.selectedDefects.splice(index, 1);
        }
      }
    },
    displayTileHistory: function(e) {
      this.$data.currentTile = e.layer.feature;
      this.$data.showPanel = true;
    },
    report: function(e) {
      this.$data.currentDefectId++;
      this.$data.clickLatlng = e.latlng;
      this.$data.currentTile = e.layer.feature;
      this.$data.display = "report";
    },
    generateWo: function() {
      const data = this.$data;
      const id = data.currentWoId + 1;
      const defects = data.defects.filter(
        d => data.selectedDefects.indexOf(d.id) > -1
      );
      data.wos.push({
        id: id,
        defects: defects
      });
      data.display = "createWo";
      data.selectedDefects = [];
    },
    addDefect: function(item) {
      this.$data.defects.push(item);
      this.$data.display = "home";
      const tile = this.$data.tiles.features.find(
        t => t.properties.UNIDADEAMO === item.tileName
      );
      if (tile) {
        const now = new Date();
        const pci = this.getPci(tile);
        const newPci = Number.parseFloat(pci - Math.random() * 100).toFixed(2);
        tile.properties.pci.push({
          date:
            now.getFullYear.toString() +
            "-" +
            (now.getMonth() + 1).toString() +
            "-" +
            now.getDate().toString(),
          value: newPci > 0 ? newPci : 0
        });
      }
    },
    onWoCanceled: function() {
      this.$data.display = "home";
    },
    onWoCreated: function(wo) {
      this.$data.wos[this.$data.wos.length - 1] = wo;
      this.$data.display = "home";
    },
    onWorkDone: function(defect) {
      const tile = this.$data.tiles.features.find(
        t => t.properties.UNIDADEAMO === defect.tileName
      );
      if (tile) {
        const now = new Date();
        tile.properties.pci.push({
          date:
            now.getFullYear.toString() +
            "-" +
            (now.getMonth() + 1).toString() +
            "-" +
            now.getDate().toString(),
          value: 100
        });
      }
    },
    getPci: function(tile) {
      const year = this.$data.year;
      const relevantPcis = tile.properties.pci.filter(
        p => Number.parseInt(p.date.substring(0, 4)) <= year
      );
      return relevantPcis[relevantPcis.length - 1].value;
    }
  },
  computed: {
    options() {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
    onEachFeatureFunction() {
      return (feature, layer) => {
        const pci = this.getPci(feature);
        layer.bindTooltip(
          "<h3>" +
            feature.properties.UNIDADEAMO +
            "</h3><div>PCI: " +
            pci +
            "</div><div>Insp: " +
            feature.properties.insp +
            "</div><div>Berma: " +
            feature.properties.BERMA +
            "</div>",
          { permanent: false, sticky: true }
        );

        let color =
          pci < 30
            ? "red"
            : pci < 60
            ? "orange"
            : pci < 90
            ? "#72e736"
            : "green";
        layer.setStyle({
          fillColor: color,
          fillOpacity: 0.7,
          color: "black",
          weight: 1
        });
      };
    }
  }
};
</script>

<style>
@import "../node_modules/leaflet/dist/leaflet.css";

.white-font {
  color: #fff;
}

.bottom {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 10000;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>